<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <title>KRT TEKNİK SERVİS</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="../assets/css/style.css">

<body>
    <!--!header start-->
    <header class="header">
        <a href="index.html" class="logo">
            <img src="../assets/images/4.jpg" alt="krtteknik.jpg">
        </a>
        <nav class="navbar">
            <a href="/index">ANA SAYFA</a>
            <a href="/hizmetlerimiz">HİZMETLERİMİZ</a>
            <a href="/about" class="active">HAKKIMIZDA</a>
            <a href="/galery">GALERİ</a>
            <a href="/petek">PETEK TEMİZLEME</a>
            <a href="/contact">İLETİŞİM</a>
        </nav>
        <div class="buttons">
            <button>
                <a href="tel:+905442694736"><i class="fa-solid fa-phone"></i></a>
                <a href="https://wa.me/905442694736"><i class="fa-brands fa-whatsapp"></i></a>
                <button>
                    <i class="fas fa-bars" id="menu-btn"></i>
                </button>
            </button>
        </div>
    </header>
    <!--!header end-->
    <!--! About Section Start-->
    <section class="about" id="hakkimizda">
        <h1 class="heading">HAKKIMIZDA</h1>
        <div class="row">
            <div class="image">
                <img src="../assets/images/hakkimizda.jpg" alt="hakkimizda.jpg">
            </div>
            <div class="content">
                <h3>Gaziantep KRT Teknik Kombi Servisi ve Isıtma Sistemleri Bakımı</h3>
                <p>KRT Teknik Kombi Servisi, 2017 yılından beri Gaziantep genelinde Vailant Viesman Ferroli Bosch Ariston Demirdöküm Airfel Daikkın Baymak E.c.a Termoteknik Buderus Fondital markalarına kombi servisi hizmeti vermekteyiz.
                    Kombi servis hizmetinde bir devrim yaratarak, her marka ve model kombi için özel olarak eğitim
                    görmüş, nitelikli kombi servis uzmanları ile tüm Gaziantep ilçelerinde hizmet vermekteyiz.

                    Yıllık kombi bakımı ve acil arızalar için servis hizmetleri ile her zaman en iyi şekilde rezive
                    edilen kombilerin arıza durumlarında tamiri ve petek temizliği gibi hizmetler verilmektedir.

                    Kombinin parçalarını değiştirip diğer sorunlarından anlamayan kombi servisleri gibi müşteriye
                    gereksiz masraf çıkarmak ya da tekrarlayacak sorunlarla karşı karşıya bırakmamak için, her zaman
                    kombimizin bütün kontrolleri yapılmakta, çözümler de en doğru şekilde bulunmaktadır.

                    Düzenli olarak kombi bakımlarının yaptırılması, gaz sızıntısı gibi tehlikeli durumlara yol
                    açabilir.
                </p>
                <a href="#" class="btn">Daha Fazla</a>
            </div>
        </div>
    </section>
    <!--! About Section End-->
    <!--!Footer Start-->
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Ana Sayfa</a></li>
                <li class="list-inline-item"><a href="hizmetlerimiz.html">Hizmetlerimiz</a></li>
                <li class="list-inline-item"><a href="about.html">Hakkımızda</a></li>
                <li class="list-inline-item"><a href="galery.html">Galeri</a></li>
                <li class="list-inline-item"><a href="petek.html">Petek Temizleme</a></li>
                <li class="list-inline-item"><a href="contact.html">İletişim</a></li>
            </ul>
            <div class="social"><a href="https://www.instagram.com/krtteknik/"><i
                        class="icon ion-social-instagram"></i></a>
                <a href="https://www.facebook.com/search/top?q=krtteknik"><i class="icon ion-social-facebook"></i></a>
            </div>
            <p class="copyright">Powered by MUHAMMED MUSTAFA KURT</p>
        </footer>
    </div>
    <!--!Footer End-->
</body>

</html>