<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    
    <title>KRT TEKNİK SERVİS</title>
    <link rel="stylesheet" href="../assets/css/style.css">

<body>
    <!--!header start-->
    <header class="header">
        <a href="index.html" class="logo">
            <img src="../assets/images/4.jpg" alt="krtteknik.jpg">
        </a>
        <nav class="navbar">
            <a href="/index">ANA SAYFA</a>
            <a href="/hizmetlerimiz">HİZMETLERİMİZ</a>
            <a href="/about">HAKKIMIZDA</a>
            <a href="/galery">GALERİ</a>
            <a href="/petek">PETEK TEMİZLEME</a>
            <a href="/contact" class="active">İLETİŞİM</a>
        </nav>
        <div class="buttons">
            <button>
                <a href="tel:+905442694736"><i class="fa-solid fa-phone"></i></a>
                <a href="https://wa.me/905442694736"><i class="fa-brands fa-whatsapp"></i></a>
                <button>
                    <i class="fas fa-bars" id="menu-btn"></i>
                </button>
            </button>
        </div>
    </header>
    <!--!header end-->
    <!--!Contact Section Start-->
    <section class="contact" id="iletisim">
        <h1 class="heading">İLETİŞİM</h1>
        <div class="row">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12739.700413314302!2d37.3311654!3d37.0354321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e1d5c0e4d1e5%3A0x2543fbb4446386c!2sKrt%20teknik!5e0!3m2!1sen!2str!4v1697898261368!5m2!1sen!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <form>
                <h3>İLETİŞİM</h3>
                <div class="inputBox">
                    <a href="mailto:krtteknikk@gmail.com"><i class="fa-solid fa-envelope"> krtteknikk@gmail.com</i></a>
                </div>
                <div class="inputBox">
                    <a href="tel:+905442694736"><i class="fa-solid fa-phone"> +905442694736</i></a>
                </div>
                <div class="inputBox">
                    <a href="https://www.instagram.com/krtteknik/"><i class="fa-brands fa-instagram"> krtteknik</i></a>
                </div>
                <div class="inputBox">
                    <a href="https://www.facebook.com/search/top?q=krtteknik"><i class="fa-brands fa-facebook">
                            krtteknik</i></a>
                </div>
                <div class="buttons">
                    <button>
                        <a href="tel:+905442694736"><i class="fa-solid fa-phone"></i></a>
                        <a href="https://www.instagram.com/krtteknik/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100093236719592&mibextid=LQQJ4d"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="mailto:mht.279@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <!--!Contact Section End-->
    <!--!Footer Start-->
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Ana Sayfa</a></li>
                <li class="list-inline-item"><a href="hizmetlerimiz.html">Hizmetlerimiz</a></li>
                <li class="list-inline-item"><a href="about.html">Hakkımızda</a></li>
                <li class="list-inline-item"><a href="galery.html">Galeri</a></li>
                <li class="list-inline-item"><a href="petek.html">Petek Temizleme</a></li>
                <li class="list-inline-item"><a href="contact.html">İletişim</a></li>
            </ul>
            <div class="social"><a href="https://www.instagram.com/krtteknik/"><i class="icon ion-social-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100093236719592&mibextid=LQQJ4d"><i class="icon ion-social-facebook"></i></a>
            </div>
            <p class="copyright">Powered by MUHAMMED MUSTAFA KURT</p>
        </footer>
    </div>
        <!--!Footer End-->
</body>

</html>