<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11395980784"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11395980784');
    </script>
    <title>Gaziantep Kombi Servisi | +90 544 269 47 36</title>
    <link rel="stylesheet" href="styles/style.css">
    <!--meta tags-->
    <meta name="description"
        content="Gaziantep bölgesinin dört bir yanında kombi servisi arıyorsanız, Gaziantep Kombi Servis sizin için burada. Gaziantep'in Şahinbey ve Şehitkamil ilçelerine hizmet veriyoruz ve Vailant kombi servis, Viessmann kombi servis,Ferroli kombi servis, Bosch kombi servis, Ariston kombi servis, Demirdöküm kombi servis, Airfel kombi servis, Daikin kombi servis, Baymak kombi servis, E.c.a kombi servis, Termoteknik kombi servis, Buderus kombi servis, Fondital kombi servis gibi birçok önde gelen kombi markasına özel uzmanlığımız var. Kombi bakımı, onarımı ve montajı konusundaki deneyimimizle size en iyi hizmeti sunmak için buradayız. Kombi ihtiyaçlarınız için bize ulaşın ve güvenilir çözümlerimizle tanışın.">
    <meta name="keywords"
        content="Gaziantep kombi servis,şahinbey kombi servis, şehitkamil Gaziantep Vailant kombi servisi, Şahinbey Bosch kombi servisi, Şehitkamil Ariston kombi tamiri, Viesman kombi bakımı Gaziantep, Ferroli kombi servisi Şahinbey, Airfel kombi onarımı Şehitkamil, Daikin kombi montajı Gaziantep, Baymak kombi arızaları Gaziantep, E.c.a kombi hizmetleri Şahinbey, Termoteknik kombi teknik servis Şehitkamil, Buderus kombi tamir Gaziantep, Fondital kombi arıza, Şahinbey,Vailant, Viesman, Ferroli, Bosch, Ariston, Demirdöküm, Airfel, Daikkın, Baymak, E.c.a, Termoteknik, Buderus, Fondital">
    <meta name="author" content="Yazarın Adı">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph Meta Etiketleri (Sosyal Paylaşım İçin) -->
    <meta property="og:title" content="Web Sayfasının Başlığı">
    <meta property="og:description"
        content="Gaziantep bölgesinin dört bir yanında kombi servisi arıyorsanız, Gaziantep Kombi Servis sizin için burada. Gaziantep'in Şahinbey ve Şehitkamil ilçelerine hizmet veriyoruz ve Vailant yetkili kombi servis, Viessmann yetkili kombi servis,Ferroli yetkili kombi servis, Bosch yetkili kombi servis, Ariston yetkili kombi servis, Demirdöküm yetkili kombi servis, Airfel yetkili kombi servis, Daikin yetkili kombi servis, Baymak yetkili kombi servis, E.c.a yetkili kombi servis, Termoteknik yetkili kombi servis, Buderus yetkili kombi servis, Fondital yetkili kombi servis gibi birçok önde gelen kombi markasına özel uzmanlığımız var. Kombi bakımı, onarımı ve montajı konusundaki deneyimimizle size en iyi hizmeti sunmak için buradayız. Kombi ihtiyaçlarınız için bize ulaşın ve güvenilir çözümlerimizle tanışın.">
    <meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:url" content="https://www.example.com">
    <meta property="og:type" content="website">
    <!--meta tags-->
    <link rel="stylesheet" href="../assets/css/style.css">

<body>
    <!--!header start-->
    <header class="header">
        <a href="index.html" class="logo">
            <img src="../assets/images/4.jpg" alt="krtteknik.jpg">
        </a>
        <nav class="navbar">
            <a href="#home" class="active">ANA SAYFA</a>
            <a href="#hizmetlerimiz">HİZMETLERİMİZ</a>
            <a href="#hakkimizda">HAKKIMIZDA</a>
            <a href="#galeri">GALERİ</a>
            <a href="#petek">PETEK TEMİZLEME</a>
            <a href="#iletisim">İLETİŞİM</a>
        </nav>
        <div class="buttons">
            <button>
                <a href="tel:+905442694736"><i class="fa-solid fa-phone"></i></a>
                <a href="https://wa.me/905442694736"><i class="fa-brands fa-whatsapp"></i></a>
                <button>
                    <i class="fas fa-bars" id="menu-btn"></i>
                </button>
            </button>
        </div>
    </header>
    <!--!header end-->
    <!--!Home Section Start*/-->
    <section class="home" id="home">
        <div class="content">
            <br>
            <br>
            <h1>Gaziantep Şahinbey Şehitkamil Kombi Teknik Servisi</h1>
            <h3>+90 544 269 47 36</h3>
            <p>Tüm Sorularınız ve Servis hizmeti için Size bir telefon kadar yakınız!</p>
            <a href="tel:+905442694736" class="btn">Telefon et</a>
            <a href="https://wa.me/905442694736" class="btn">Whatsapp ile Mesaj Gönder</a>
        </div>
    </section>
    <!--!/*Home Section End*/-->
    <!--! Menu Section Start-->
    <section class="menu" id="hizmetlerimiz">
        <h1 class="heading">HİZMETLERİMİZ </h1>
        <div class="box-container">
            <div class="box">
                <div class="box-head">
                    <img src="../assets/images/kombi.jpg" alt="kombi.jpg" style="height: 270px;>
                    <br>
                    <span class=" menu-category">KRT TEKNİK</span>
                    <h3>Kombi bakım</h3>
                </div>
                <br>
                <div class="box-bottom">
                    <a href="https://wa.me/905442694736" class="btn">Whatsapp ile mesaj gönder</a>
                </div>
            </div>
            <div class="box">
                <div class="box-head">
                    <img src="../assets/images/petek.jpg" alt="petek.jpg" style="height: 270px;">
                    <br>
                    <span class="menu-category">KRT TEKNİK</span>
                    <h3>petek bakım</h3>
                </div>
                <div class="box-bottom">
                    <a href="https://wa.me/905442694736" class="btn">Whatsapp ile mesaj gönder</a>
                </div>
            </div>
            <div class="box">
                <div class="box-head">
                    <img src="../assets/images/klima.jpg" alt="klima.jpg" style="height: 270px" ;>
                    <br>
                    <span class="menu-category">KRT TEKNİK</span>
                    <h3>Klima bakım</h3>
                </div>
                <div class="box-bottom">
                    <a href="https://wa.me/905442694736" class="btn">Whatsapp ile mesaj gönder</a>
                </div>
            </div>
        </div>
    </section>
    <!--! Menu Section End-->
    <div class="content-menu">
        <h3>Demirdöküm Kombi Servisi</h3>
        <p>DemirDöküm kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Demirdöküm kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Eca Kombi Servisi</h3>
        <p>Eca kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi numaralarımızdan
            bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Eca kombi cihazlarına teknik destek ve bakım hizmeti
            vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Baymak Kombi Servisi</h3>
        <p>Baymak kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Baymak kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Vaillant Kombi Servisi</h3>
        <p>Vaillant kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Vaillant kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Baykan Kombi Servisi</h3>
        <p>Baykan kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Baykan kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Airfel Kombi Servisi</h3>
        <p>Airfel kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Airfel kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Protherm Kombi Servisi</h3>
        <p>Protherm kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Protherm kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Bosch Kombi Servisi</h3>
        <p>Bosch kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Bosch kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Buderus Kombi Servisi</h3>
        <p>Buderus kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Buderus kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

        <h3>Daikin Kombi Servisi</h3>
        <p>Daikin kombi servisi, 7/24 Teknik destek ve servis hizmeti olarak günün her saati çağrı merkezi
            numaralarımızdan bize ulaşabilirsiniz. Servisimiz garanti süresi dolmuş Daikin kombi cihazlarına teknik
            destek ve bakım hizmeti vermektedir. İletişim: 0 544 269 47 36</p>

    </div>

    <!--! About Section Start-->
    <section class="about" id="hakkimizda">
        <h1 class="heading">HAKKIMIZDA</h1>
        <div class="row">
            <div class="image">
                <img src="../assets/images/hakkimizda.jpg" alt="hakkimizda.jpg">
            </div>
            <div class="content">
                <h3>Gaziantep KRT Teknik Kombi Servisi ve Isıtma Sistemleri Bakımı</h3>
                <p>Gaziantep'te kombi bakımı ve servisi konusunda uzmanlaşmış bir şirket olarak, müşterilerimize geniş
                    bir hizmet yelpazesi sunmaktan gurur duyuyoruz. Şahinbey kombi servisi, Şehitkamil bölgesinde
                    Vailant kombi servisi, ve Bosch kombi servisi hizmetlerimizle, kombi cihazlarınızın her türlü
                    bakımını güvenilir bir şekilde gerçekleştiriyoruz. Ariston kombi tamiri, Viesman kombi bakımı,
                    Ferroli kombi servisi ve Airfel kombi onarımı da uzmanlık alanlarımız arasında bulunuyor.

                    Daikin kombi montajı, Baymak kombi arızaları, E.c.a kombi hizmetleri ve Termoteknik kombi teknik
                    servisi gibi farklı kombi markalarına yönelik talepleri karşılamak için deneyimli personelimizle
                    buradayız. Buderus kombi tamiri ve Fondital kombi arıza durumlarında da size yardımcı olmaktan
                    mutluluk duyuyoruz. Şehrimizin her mahallesine hızlı ve etkili kombi hizmetleri sunuyoruz. Sizlere
                    güvenilir ve sıcak bir ev veya iş yeri sağlamak için buradayız. Güvendiğiniz markalar olan Şahinbey,
                    Vailant, Viesman, Ferroli, Bosch, Ariston, Demirdöküm, Airfel, Daikin, Baymak, E.c.a, Termoteknik,
                    Buderus ve Fondital kombi cihazlarınızın bakımı ve onarımı konusunda her zaman yanınızdayız. Size en
                    iyi hizmeti sunmak için buradayız.
                </p>
                <a href="/about" class="btn">Daha Fazla</a>
            </div>
        </div>
    </section>
    <!--! About Section End-->
    <!--! Galery Start-->
    <section class="galeri" id="galeri">
        <h1 class="heading">Galeri</h1>
        <div class="images">
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/1.jpg">
                    <img src="../assets/images/images_krtteknik/1.jpg" alt="Resim 2"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/2.jpg">
                    <img src="../assets/images/images_krtteknik/2.jpg" alt="Resim 3"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/3.jpg">
                    <img src="../assets/images/images_krtteknik/3.jpg" alt="Resim 2"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/4.jpg">
                    <img src="../assets/images/images_krtteknik/4.jpg" alt="Resim 2"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/5.jpg">
                    <img src="../assets/images/images_krtteknik/5.jpg" alt="Resim 3"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/6.jpg">
                    <img src="../assets/images/images_krtteknik/6.jpg" alt="Resim 2"></a>
            </div>
            <div class="box_2">
                <a class="box" data-fancybox="gallery" href="../assets/images/images_krtteknik/7.jpg">
                    <img src="../assets/images/images_krtteknik/7.jpg" alt="Resim 2"></a>
            </div>
            <a href="/galery" class="btn">daha fazla</a>

        </div>
    </section>
    <!--!Galeri End-->
    <!--! About Section Start-->
    <section class="about" id="petek">
        <h1 class="heading">Petek Temizleme</h1>
        <div class="row">
            <div class="image">
                <img src="../assets/images/radiator.jpg" alt="radiator.jpg" style=" height: 500px;">
            </div>
            <div class="content">
                <h3>Gaziantep KRT Teknik Kombi Servisi Ve Isıtma Sistemleri Bakımı</h3>
                <p>Gaziantep KRT Teknik Kombi Servisi Ve Isıtma Sistemleri Bakımı
                    Gaziantep KRT Teknik Kombi Servisi, ısınma sistemlerinin verimliliğini artırmaya ve ısınma
                    maliyetlerini düşürmeye yönelik uzmanlığı ile petek temizleme hizmetlerinde öncü bir konumda
                    bulunmaktadır. Petek temizleme, ısınma sezonu öncesinde yapılması gereken kritik bir bakım
                    işlemidir. Bu hizmet, peteklerin içinde biriken kir, çamur ve tortunun giderilmesini sağlayarak ısı
                    transferini optimize eder. Sonuç olarak, daha hızlı ısınan ve daha az enerji tüketen bir ısınma
                    sistemi elde edilir.

                    Temizlenmiş petekler, ısınma sisteminin ömrünü uzatır ve sorunsuz bir şekilde çalışmasını sağlar. Bu
                    da ısınma sistemlerinin uzun vadeli performansını artırır ve onarımların azalmasına yardımcı olur.
                    Petek temizleme hizmetlerimiz, ev sahipleri ve işletmeler için büyük avantajlar sunar. Enerji
                    tasarrufu sağlayarak ısınma maliyetlerini düşürür ve daha temiz bir iç hava kalitesi sunar...
                </p>
                <a href="/petek" class="btn">Daha Fazla</a>
            </div>
        </div>
    </section>
    <!--! About Section End-->
    <!--!Contact Section Start-->
    <section class="contact" id="iletisim">
        <h1 class="heading">İLETİŞİM</h1>
        <div class="row">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12739.700413314302!2d37.3311654!3d37.0354321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e1d5c0e4d1e5%3A0x2543fbb4446386c!2sKrt%20teknik!5e0!3m2!1sen!2str!4v1697898261368!5m2!1sen!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <form>
                <h3>İLETİŞİM</h3>
                <div class="inputBox">
                    <a href="mailto:krtteknikk@gmail.com"><i class="fa-solid fa-envelope"> krtteknikk@gmail.com</i></a>
                </div>
                <div class="inputBox">
                    <a href="tel:+905442694736"><i class="fa-solid fa-phone"> +905442694736</i></a>
                </div>
                <div class="inputBox">
                    <a href="https://www.instagram.com/krtteknik/"><i class="fa-brands fa-instagram"> krtteknik</i></a>
                </div>
                <div class="inputBox">
                    <a href="https://www.facebook.com/search/top?q=krtteknik"><i class="fa-brands fa-facebook">
                            krtteknik</i></a>
                </div>
                <div class="buttons">
                    <button>
                        <a href="tel:+905442694736"><i class="fa-solid fa-phone"></i></a>
                        <a href="https://www.instagram.com/krtteknik/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100093236719592&mibextid=LQQJ4d"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="mailto:mht.279@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <!--!Contact Section End-->
    <!--!Footer Start-->
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#home">Ana Sayfa</a></li>
                <li class="list-inline-item"><a href="#hizmetlerimiz">Hizmetlerimiz</a></li>
                <li class="list-inline-item"><a href="#hakkimizda">Hakkımızda</a></li>
                <li class="list-inline-item"><a href="#galeri">Galeri</a></li>
                <li class="list-inline-item"><a href="#petek">Petek Temizleme</a></li>
                <li class="list-inline-item"><a href="#iletisim">İletişim</a></li>
            </ul>
            <div class="social"><a href="https://www.instagram.com/krtteknik/"><i
                        class="icon ion-social-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100093236719592&mibextid=LQQJ4d"><i
                        class="icon ion-social-facebook"></i></a>
            </div>
            <p class="copyright">Powered by MUHAMMED MUSTAFA KURT</p>
        </footer>
    </div>
    <script src="js/script.js"></script>

</body>

</html>